In [1]:
import os
import pandas as pd

In [2]:
suicide_csv = "../csvs/suicide.csv"
hdi_csv = "../csvs/hdi.csv"

In [3]:
suicide_df = pd.read_csv(suicide_csv)
hdi_df = pd.read_csv(hdi_csv, sep=";")

In [4]:
suicide = suicide_df.copy()
hdi = hdi_df.copy()

In [5]:
suicide.drop("HDI for year", axis=1, inplace=True)
suicide.drop("country-year", axis=1, inplace=True)
suicide.drop("generation", axis=1, inplace=True)

In [21]:
result = pd.merge(suicide,hdi, on=["country","year"], how="inner")
result.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),hdi
0,Albania,2000,male,25-34 years,17,232000,7.33,"3,632,043,908",1299,0.669
1,Albania,2000,male,55-74 years,10,177400,5.64,"3,632,043,908",1299,0.669
2,Albania,2000,female,75+ years,2,37800,5.29,"3,632,043,908",1299,0.669
3,Albania,2000,male,75+ years,1,24900,4.02,"3,632,043,908",1299,0.669
4,Albania,2000,female,15-24 years,6,263900,2.27,"3,632,043,908",1299,0.669

In [20]:
#group = result.groupby(["country","year"]).mean()
##group.head(100)

                          suicides_no    population  suicides/100k pop  \
country             year
Albania             2000     4.500000  2.330250e+05           2.558333
                    2001     9.916667  2.332791e+05           4.218333
                    2002    11.083333  2.349032e+05           5.209167
                    2003    10.333333  2.369941e+05           4.883333
                    2004    12.166667  2.395826e+05           5.449167
                    2005     0.000000  2.319433e+05           0.000000
                    2006     0.000000  2.316813e+05           0.000000
                    2007    10.333333  2.308620e+05           5.487500
                    2008    13.333333  2.297549e+05           5.920833
                    2009     0.000000  2.288112e+05           0.000000
                    2010     8.000000  2.280021e+05           3.471667
Antigua and Barbuda 2000     0.166667  6.277167e+03           3.330833
                    2001     0.166667  6.374750e+03           1.620833
                    2002     0.000000  6.465667e+03           0.000000
                    2003     0.083333  6.554833e+03           2.318333
                    2004     0.166667  6.643500e+03           3.005000
                    2005     0.000000  6.734083e+03           0.000000
                    2006     0.000000  6.831083e+03           0.000000
                    2007     0.083333  6.927583e+03           0.665000
                    2008     0.000000  7.022750e+03           0.000000
                    2009     0.000000  7.117083e+03           0.000000
                    2012     0.000000  7.391917e+03           0.000000
                    2013     0.000000  7.481583e+03           0.000000
                    2014     0.000000  7.569750e+03           0.000000
                    2015     0.083333  7.657417e+03           1.301667
Argentina           2000   231.166667  2.798794e+06          10.949167
                    2001   261.000000  2.834246e+06          11.963333
                    2002   263.500000  2.867292e+06          11.618333
                    2003   274.083333  2.898826e+06          12.190833
                    2004   260.083333  2.930245e+06          10.921667
...                               ...           ...                ...
Austria             2000   132.333333  6.326728e+05          24.147500
                    2001   124.083333  6.362133e+05          21.825833
                    2002   129.416667  6.402635e+05          23.076667
                    2003   121.333333  6.435028e+05          21.421667
                    2004   118.500000  6.477588e+05          21.170000
                    2005   116.583333  6.522884e+05          19.604167
                    2006   108.083333  6.557724e+05          18.241667
                    2007   107.083333  6.581060e+05          18.109167
                    2008   105.583333  6.604382e+05          18.037500
                    2009   106.500000  6.622412e+05          17.768333
                    2010   105.333333  6.640351e+05          17.295833
                    2011   107.333333  6.662622e+05          17.624167
                    2012   106.333333  6.692730e+05          17.219167
                    2013   107.583333  6.733012e+05          17.676667
                    2014   109.500000  6.784304e+05          17.485000
                    2015   104.250000  6.849488e+05          16.218333
Azerbaijan          2000     5.166667  6.179375e+05           1.200833
                    2001    26.416667  6.265000e+05           5.004167
                    2002     7.666667  6.338083e+05           1.618333
                    2003    10.750000  6.395333e+05           2.255833
                    2004     9.000000  6.448542e+05           1.527500
                    2007     4.583333  6.600917e+05           0.985833
Bahamas             2000     0.916667  2.247817e+04           3.388333
                    2001     0.083333  2.301167e+04           0.223333
                    2002     0.250000  2.354625e+04           0.830833
                    2003     0.083333  2.407400e+04           0.207500
                    2004     0.166667  2.460308e+04           0.494167
                    2005     0.333333  2.514692e+04           1.110000
                    2006     0.166667  2.570825e+04           0.470000
                    2007     0.416667  2.624908e+04           1.118333

                          gdp_per_capita ($)    hdi
country             year
Albania             2000              1299.0  0.669
                    2001              1451.0  0.676
                    2002              1573.0  0.682
                    2003              2021.0  0.689
                    2004              2544.0  0.694
                    2005              2931.0  0.704
                    2006              3235.0  0.711
                    2007              3863.0  0.720
                    2008              4672.0  0.724
                    2009              4387.0  0.729
                    2010              4359.0  0.741
Antigua and Barbuda 2000             11021.0    NaN
                    2001             10468.0    NaN
                    2002             10499.0    NaN
                    2003             10878.0    NaN
                    2004             11535.0    NaN
                    2005             12649.0  0.766
                    2006             14114.0  0.772
                    2007             15775.0  0.778
                    2008             16238.0  0.777
                    2009             14335.0  0.770
                    2012             13657.0  0.765
                    2013             13287.0  0.768
                    2014             14093.0  0.770
                    2015             14853.0  0.775
Argentina           2000              8462.0  0.771
                    2001              7900.0  0.776
                    2002              2840.0  0.769
                    2003              3668.0  0.775
                    2004              4683.0  0.780
...                                      ...    ...
Austria             2000             25922.0  0.838
                    2001             25848.0  0.849
                    2002             27772.0  0.838
                    2003             33889.0  0.842
                    2004             38711.0  0.849
                    2005             40367.0  0.855
                    2006             42698.0  0.861
                    2007             49218.0  0.881
                    2008             54294.0  0.884
                    2009             50356.0  0.886
                    2010             49181.0  0.895
                    2011             53923.0  0.897
                    2012             50979.0  0.899
                    2013             53229.0  0.897
                    2014             54278.0  0.901
                    2015             46484.0  0.903
Azerbaijan          2000               711.0  0.640
                    2001               759.0  0.648
                    2002               820.0  0.657
                    2003               948.0  0.666
                    2004              1122.0  0.674
                    2007              4172.0  0.709
Bahamas             2000             29942.0  0.776
                    2001             30122.0  0.779
                    2002             31432.0  0.781
                    2003             30704.0  0.782
                    2004             30671.0  0.784
                    2005             32596.0  0.786
                    2006             32957.0  0.788
                    2007             33710.0  0.789

[100 rows x 5 columns]

In [17]:
#south_america = result[(result["country"] == "Brazil")
#south_america.head()

SyntaxError: invalid syntax (<ipython-input-17-5945ee31cde1>, line 1)